body {
    background: #eee;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

hr {
    border: 0;
    background: #dedede;
    height: 1px;
}

header {
    text-align: center;
    color: #232323;
}

header .judul {
    font-size: 17pt;
}

.wrap {
    width: 950px;
    margin: 25px auto;
}

.sidebar {
    float: right;
    width: 275px;
}

.sidebar .widget {
    padding: 35px;
    margin: 0 0 25px;
    background: #fff;
    border-bottom: 2px solid #fff;
    transition: all 0.5s ease;
}

.sidebar .widget:hover {
    border-bottom: 2px solid #3498db;
}

.sidebar .widget h2 {
    padding: 0;
    margin: 0 0 15px;
    color: #3498db;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
}

.sidebar .widget p {
    font-size: 14px;
}

.sidebar .widget p:last-child {
    margin: 0;
}

.blog {
    float: left;
}

.conteudo {
    width: 600px;
    padding: 35px;
    margin: auto;
    background: #fff;
    border: 1px solid #dedede;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(204, 204, 204, 0.35);
    -moz-box-shadow: 1px 1px 1px 0px rgba(204, 204, 204, 0.35);
    box-shadow: 1px 1px 1px 0px rgba(204, 204, 204, 0.35);
}

.conteudo img {
    min-width: 650px;
    margin: 0 0 25px -25px;
    max-width: 650px;
}

.conteudo h1 {
    padding: 0;
    margin: 0 0 15px;
    font-weight: normal;
    color: #666;
    font-family: Georgia;
}

.conteudo p:last-child {
    margin: 0;
}

div.in {
    padding: 10px 22px 0;
    color: #808080;
}

div.kotak {
    margin: 16px 0;
}

div.kotak label,
div.kotak input {
    display: block;
}

div.kotak label {
    font-size: 13px;
    margin-bottom: 10px;
}

div.kotak input[type="text"],
div.kotak input[type="password"] {
    width: 180;
    height: 30;
    padding: 0 15px;
    background: #eeeeee;
    border: none;
    color: #808080;
}

div.kotak input[type="button"] {
    float: right;
    background: #3498db;
    padding: 4px 16px;
    margin: 0 auto;
    border: 1px solid #3498db;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
}

div.kotak input[type="submit"] {
    float: left;
    background: #33cd77;
    padding: 4px 16px;
    margin: 0 auto;
    border: 1px solid #33cd77;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
}

.btn input[type="button"] {
    background: #00b7ff;
    padding: 10px 40px;
    margin: 0 auto;
    border: 1px solid #00b7ff;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
}

div.kotak input[type="button"] {
    float: right;
    background: #3498db;
    padding: 4px 16px;
    margin: 0 auto;
    border: 1px solid #3498db;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
}

div.kotak input[type="reset"] {
    float: right;
    background: #db3434;
    padding: 4px 16px;
    margin: 0 auto;
    border: 1px solid #db3434;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
}

div.kotak input[type="submit"]:hover {
    background: #28a45e;
}

div.kotak input[type="button"]:hover {
    background: #006ab1;
}

div.kotak input[type="reset"]:hover {
    background: #b10000;
}

.navmenu {
    background-color: #006ab1;
    color: #ffff;
    border: none;
    cursor: pointer;
    padding: 15px;
    margin-top: 15px;
}